<div class="dx-card responsive-paddings" style="padding: 20px">
  <div style="display: flex; flex-direction: row; align-items: center; align-content: space-evenly;">
    <dx-button class="app-button-back"
               icon="arrowleft"
               stylingMode="text"
               type="normal"
               (onClick)="back()"></dx-button>
    <h2>{{ pageTitle }}</h2>
  </div>
  <form autocomplete="off" (submit)="doSave($event)">
    <dx-form id="form"
             [formData]="formData"
             requiredMark="<span title='campo obrigatório'>*</span>">
      <dxi-item itemType="group" caption="Informações cadastrais" colCount="2">
        <dxi-item dataField="matricula">
          <dxo-label text="Matrícula"></dxo-label>
        </dxi-item>
        <dxi-item dataField="nome">
          <dxo-label text="Nome"></dxo-label>
        </dxi-item>
      </dxi-item>
      <dxi-item itemType="group" colCount="2">
        <dxi-item itemType="group" caption="Selecione seu curso" colCount="5">
          <dxi-item
            colSpan="4"
            dataField="curso.id"
            editorType="dxSelectBox"
            [editorOptions]="cursoDxSelectBoxEditorOptions">
            <dxo-label text="Curso"></dxo-label>
          </dxi-item>
        </dxi-item>
        <!--ini Customize Fields at Runtime-->
        <dxi-item itemType="group"
                  caption="Cadastre seus convidados">
          <dxi-item itemType="group"
                    name="convidados"
                    *ngFor="let convidado of convidadoOptions; let i = index">
            <dxi-item
              [dataField]="'convidados[' + i + ']'"
              [editorOptions]="convidadoOptions[i]">
              <dxo-label [text]="'Convidado ' + (i + 1)"></dxo-label>
            </dxi-item>
          </dxi-item>
          <dxi-item
            itemType="button"
            horizontalAlignment="left"
            [buttonOptions]="addConvidadoButtonOptions"
          >
          </dxi-item>
        </dxi-item>
        <!--fim Customize Fields at Runtime-->
      </dxi-item>
      <dxi-item itemType="group"
                colCount="2"
                [colCountByScreen]="{ xs: 2 }">
        <dxi-item itemType="button"
                  horizontalAlignment="left"
                  [buttonOptions]="{
                                text: 'Salvar',
                                type: 'success',
                                useSubmitBehavior: true,
                                disabled: saveSub && !saveSub.closed
                              }">
        </dxi-item>
        <dxi-item itemType="button"
                  horizontalAlignment="right"
                  [buttonOptions]="{
                                text: 'Cancelar',
                                onClick: back
                              }">
        </dxi-item>
      </dxi-item>
    </dx-form>
  </form>
</div>
